* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    margin: 20px;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.box{
background-color: lightblue;
border: 2px solid blue;
padding: 20px;
text-align: center;
font-size: 1.5em;
}
@media (min-width: 600px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}
.wireframe {
    display: block;
   width: 100%;
   max-width: 700px;
    margin: 20px auto 0;
    height: auto;
}
